@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-background text-text-primary;
  
  /* --- NEW DYNAMIC BACKGROUND --- */
  background: linear-gradient(-45deg, #F4F7FE, #E0E7FF, #C7D2FE, #dbeafe);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}